/* CSS para las los colores y fuente */
:root {
  --fondo: #f3f5fc;
  --primario: #0a3871;
  --secundario: #495057;
  --blanco: #ffffff;
  --negro: #000000;

  --fuentePrincipal: "Inter", sans-serif;
}

/* CSS para el body */
body {
  background-color: var(--fondo);
  font-family: var(--fuentePrincipal);
}

/* CSS para el grid del contenedor */
.container {
  height: 700px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 5%;
  padding: 3% 2% 0 3%;
}

@media (max-width: 768px) {
  .container {
    height: 933px;
    gap: 1%;
  }
}
.form-grid {
  display: grid;
  grid-template-rows: 1fr 10fr;
}
/* CSS para la animacion del logo */
.logo {
  display: flex;
}
.logo img {
  transition: 400ms;
}

.logo img:hover {
  transform: rotate(1turn);
  content: url(../imagenes/LogoOracle.png);
}

/* media query para el responsive de las columnas y alinear el logo*/
@media (max-width: 768px) {
  .container {
    padding: 3% 3%;
    grid-template-columns: 1fr;
  }
  .logo {
    justify-content: center;
  }
}

/* Css para las funciones del encriptador */
.input {
  display: flex;
  flex-direction: column;
  padding: 5% 0 0 20%;
  gap: 10px;
}

/* media query para el responsive del encriptador */
@media (max-width: 768px) {
  .input {
    padding: 10% 5% 0 5%;
  }
}

/* CSS para el text area del encriptador */
.input-text {
  background: var(--fondo);
  color: var(--primario);
  font-family: var(--fuentePrincipal);
  font-size: 28px;
  border: none;
  height: 83%;
  /* min-height: 55%; */
}
/*  65vh 77.5vh */
.input-text::placeholder {
  color: var(--primario);
}

/* CSS para quitar el la linea al seleccionar el text area del encriptador y desencriptador */
.input-text:focus,
.output-text:focus {
  outline: none;
}

/* CSS para los botones de encriptar y desencriptar */

.buttons {
  display: flex;
  gap: 5%;
}

.btn {
  width: 100%;
  background: var(--blanco);
  color: var(--primario);
  border: 1px solid var(--primario);
  height: 40px;
  border-radius: 24px;
  transition: 300ms;
  font-size: 16px;
  font-weight: bold;
}
.btn:active {
  position: relative;
  top: 3px;
}

.btn:hover {
  color: var(--blanco);
  box-shadow: inset -20em 0 0 0 var(--primario),
    inset 20em 0 0 0 var(--primario);
}

/* CSS para desencriptador */
.output {
  display: grid;
  background: var(--blanco);
  border-radius: 32px;
  align-items: center;
  text-align: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.output-img {
  margin: 50% 10%;
}
.img-munheco {
  width: 70%;
}
.output-img p:nth-child(2) {
  color: var(--secundario);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.output-img p {
  font-size: 16px;
}

/* media query para el responsive del desencriptador */
@media (max-width: 768px) {
  .output-img {
    margin: 10% 10%;
  }
}

.output-msg {
  margin: 7% 5%;
}
.output-text {
  width: 100%;
  color: var(--secundario);
  font-family: var(--fuentePrincipal);
  font-size: 24px;
  border: none;
  height: 600px;
}

@media (max-width: 768px) {
  .output-img {
    margin: 5% 5%;
    /* height: 350px; */
  }
  .output-text {
    height: 300px;
  }
  .img-munheco {
    display: none;
  }
}

.footer {
  margin-top: 50px;
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  display: flex;
  flex-direction: column;
  padding: 2% 0;
  text-align: center;
  /* width: 100%; */
  background-color: var(--negro);
}

.footer-social {
  color: var(--secundario);
  font-size: 15px;
  margin: 1.5% 0;
}
.footer-social a {
  text-decoration: none;
}
.footer-copyright {
  color: var(--secundario);
}
